<div id="machanic-info">
  <p>Machanic: <%= @machanic.name %></p>
  <p>Years of Experience <%= @machanic.years_experience %></p>
</div>

<div id="rides-list">
Current rides they're working on:
  <ul>
    <% @rides.each do |ride| %>
      <li><%= ride.name %></li>
    <% end %>
  </ul>
</div>

<div id="add-ride-form">
  <%= form_with url: machanic_rides_path, method: :post, local: true do |form| %>
    <%= form.hidden_field :machanic_id, value: @machanic.id %>
    <%= form.label :ride_id, "Ride ID:" %>
    <%= form.text_field :ride_id %>
    <%= form.submit "Submit" %>
  <% end %>
</div>