<div id ='mechanic_info'>
    <p><%= @mechanic.name %> - Years of Experience: <%= @mechanic.experience %><p>
</div>

Rides Working On:
<div id='rides'>
  <ul>
    <% @mechanic.rides.each do |ride| %>
     <li><%= ride.name %></li>
    <% end %>
  <ul>
</div>

<div id='new_ride'>
    <%= form_with url: mechanic_rides_path(@mechanic.id), method: :post, local: true do |form| %>
        <%= form.label 'Ride id:' %>
        <%= form.text_field :ride_id %>
        <%= form.submit "Add New Ride" %>
    <% end %>
</div>
