<h1><%= @mechanic.name %>'s Show Page</h1>

<p>Name: <%= @mechanic.name %></p>
<p>Years Experience: <%= @mechanic.years_experience %></p>

<h3>Maintains the Following Rides:</h3>
<div id="rides_maintained">
  <ul>
    <% @mechanic.rides.each do |ride| %>
    <li><%= ride.name %>
    <% end %>
  </ul>
</div>

<div id="add_ride_to_workload">
  <h3>Add a ride to workload:</h3>
    <%= form_with model: @mechanic, local: true do |form| %>
      <%= form.label :ride_id, 'Ride Id:' %>
      <%= form.text_field :ride_id %>
      <%= form.submit 'Add Ride' %>
    <% end %>
</div>