<h1> Mechanic Show Page </h2>
<h2>Name: <%= @mechanic.name %></h2>
<h2>Years of Experience: <%= @mechanic.years_experience %></h2>
<br>
<h2>Rides:</h2>
<% @mechanic.rides.each do |ride| %>
    <h3><%= ride.name %></h3>
<% end %>
<%= form_with url: "/mechanics/#{@mechanic.id}", method: "PATCH" do |form| %>
    <%= form.label :ride_id, 'Ride Id:'%>
    <%= form.text_field :ride %>
    <%= form.submit "Update" %>
<% end %>