<% flash.each do |type, msg| %>
  <%= msg %>
<% end %>

<h1>Mechanic: <%= @mechanic.name %></h1>

<h3>Years of Experience: <%= @mechanic.years_experience %> </h3>

<div id="mechanic-rides">
  <h3>Current rides they’re working on:</h3>
  <ul>
    <% @mechanic.rides.each do |ride| %>
    <li> <%= ride.name %> </li>
    <% end %>
  </ul>
</div>

<%= form_with url: "#{mechanic_path(@mechanic)}", method: :post, local: true do |form| %>
  <%= form.label :add_ride_id %>
  <%= form.number_field :add_ride_id %>
  <%= form.submit 'Submit' %>
<% end %>
