<p>Park Name: <%=@amusement_park.name%></p>
<p>Admissions Price: $<%=@amusement_park.admission_cost%></p>
<p>Mechanics: <%@amusement_park.unique_mechanics.each do |mechanic|%>
  <%=mechanic%>
<%end%>
</p>
<div id= rides>
<p>Rides at <%=@amusement_park.name%>:
<%@amusement_park.experience_order.each do |ride|%>
  <p><%=ride.name%> -
  Mechanic Experience Level on this Ride: <%=ride.avg_experience%></p>
<%end%>
</p>
</div>
