<h2><%= @park.name %></h2><br>

<div id="info">
  <p>Price of Admission: $<%= @park.admission_cost %></p><br><br>
  <h4>Working Mechanics</h4>
  <ul>
    <% @park.mechanics.distinct.each do |mechanic| %>
    <li><%= mechanic.name %></li>
    <% end %>
  </ul>
</div>

<div id="my-rides">
  <% @park.rides.each do |ride| %>
    <p><%= ride.name %> - Average Mechanic Experience: <%= ride.mechanics.average_experience %></p>
  <% end %>
</div>