<h3> Amusement Park Show Page </h3>

<div id="park">
  <p>Park Name: <%= @amusement_park.name %>
  <p>Cost of Admission: <%= @amusement_park.admission_cost %>
</div>

<ul id="park-mechanics">
  <p>Park Mechanics: </p>
    <% @amusement_park.mechanics.distinct.each do |mechanic| %>
      Name: <%= mechanic.name  %>
    <% end%>
</ul>

<ul id="rides">
  <p>Park Mechanics: </p>
    <% @amusement_park.rides.each do |ride| %>
      Name: <%= ride.name  %> Mechanic Avg Yrs Experience: <%= ride.avg_mech_exper %>
    <% end%>
</ul>